@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
}

@layer utilities {
  .smooth {
    @apply transition-all duration-100 ease-linear;
  }
}

@layer components {
  .form-area {
    @apply flex flex-col p-10 gap-8 max-w-4xl mx-auto mt-8 bg-[#0000000e] rounded-md shadow-lg;
  }
  .label {
    @apply grid grid-cols-1 min-[480px]:grid-cols-[130px_1fr] gap-3;
  }
  .input {
    @apply rounded-lg py-2 px-4 text-lg sm:text-xl outline-none font-sans hover:shadow-2xl focus:shadow-2xl;
  }
  .label-span {
    @apply font-bold text-lg sm:text-xl min-[480px]:text-left text-center;
  }
  .button {
    @apply bg-white rounded-full py-2 px-5 hover:bg-black hover:text-white hover:shadow-2xl smooth font-bold;
  }
  .task-list {
    @apply flex flex-col gap-4 mt-10 font-sans;
  }
  .task {
    @apply flex flex-col p-4 bg-[lightseagreen] rounded-sm;
  }
  .loading {
    @apply grid place-items-center text-2xl font-bold mt-10;
  }
}